.profile {
  display: flex;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  margin: auto;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileInfoName {
  font-size: 20px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}
