.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  list-style: none;
  font-size: 14px;
}

.sidebarListItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sidebarListItem .sidebarIcon {
  margin-right: 20px;
  font-size: 15px;
}

.sidebarButton {
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sidebarButton:hover {
  background: #1877f2;
  color: #fff;
}

.sidebarHr {
  margin-bottom: 20px;
}

.sidebarFriendList {
  list-style: none;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriend img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebarFriendName {
  font-size: 14px;
}
