.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle{
  margin-bottom: 20px;
}

.rightbarFriendList {
padding: 0;
margin: 0;
list-style: none;
}

.rightbarTitle{
font-size: 16px;
font-weight: 600;
margin-bottom: 10px;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.righbarProfileImgContainer {
  display: flex;
  position: relative;
  margin-right: 10px;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnline {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}

.rightbarUsername {
  font-size: 14px;
}